  .card-perfil {
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            
            background-color: rgb(0, 0, 0);
        }

        .card-perfil__image {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            
        }