* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background: linear-gradient(to bottom, #000000, #ff0000);
}

.cabecalho {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.titulo--cinza {
    color: gray;
}

.titulo--vermelho {
    color: red;
}


.input--dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.input--metade {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn--cadastro {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.produtos{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.produto {
    text-align: center;
    width: 350px;
    height: 30%;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.produto:hover {
    box-shadow: 1px 1px 15px black;
}

.produto img {
    width: 300px;
    height: 300px;
}